<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    {% load static %}

    <title>About us</title>
    <link rel="apple-touch-icon" href="{%static '/img/apple-touch-icon.png'%}">

         <link rel="apple-touch-icon" href="{%static 'apple-touch-icon.png' %}">

        <link rel="stylesheet" href="{%static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{%static '/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{%static '/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{%static '/css/templatemo-style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <style>
    .second-slide{ background-color:#FF8A8A;}
    body{background-color:#000;}
    .left-image{
     background-image: url("/static/img/resort33.jpg");
     height:100px;
     width:100%;}</style>
</head>
<body>

<div class="cd-slider-nav" style="background:#000000">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>

                <li class="selected"><a href="../"><div class="image-icon"><img src="{%static '/img/home-icon.png'%}"></div><h6>Welcome</h6></a></li>
                <li><a href="../fabout"><div class="image-icon"><img src="{%static '/img/about-icon.png'%}"></div><h6>About Us</h6></a></li>
                <li><a href="../testimonials"><div class="image-icon"><img src="{%static '/img/aslimaal.png'%}"></div><h6>Testimonials</h6></a></li>
                <li><a href="../rooms"><div class="image-icon"><img src="{%static '/img/key.png'%}"></div><h6>Rooms</h6></a></li>
                <li><a href="../contactus"><div class="image-icon"><img src="{%static '/img/contact-icon.png'%}"></div><h6>Contact Us</h6></a></li>
              </ul>
            </nav>
          </div>

              <div class="cd-half-width second-slide">
                  <div class="heading" style="background:#000000">
                <h1>About Us</h1>
                <span>Info About bookitup</span>
              </div>

                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content second-content" style="background-color:#800080;">
                        <div class="row" style="background-color:#FFA8A8;">
                            <div class="image">
                                 <img src="{%static '/img/resort46.jpg'%}">
                            </div>
                              <h3 style="font-family:Times New Romans;">We believe in providing supreme class choice to our customers.In today's world everyone prefer quality over any other thing.
                              So in bookitup we provide you a great choice of rooms where you can book a room at a location of your choice.</h3>


                          <div>
                            <div class="right-about-text">
                              <h2>Who we are?</h2>
                                <h3 style="font-family:Times New Romans;">We are one of the finest web application over which you can book or plan your staying place easily. you will not have to face any kind of problem during your journey with us. </h3>

                              <div class="primary-button">

                              </div>
                            </div>
                          </div>
                        </div>

                        </div>
                        </div>
                        </div>
                      </div>
                    </div>





</body>
</html>