<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>


        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static '/css/templatemo-style.css' %}">

        <link href="" rel="stylesheet">

        <script src="{%static '/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <style>body{ background-image: url("{%static '/img/resort47.jpg' %}");}
.fivth-slide{background-image: url("{%static '/img/resort47.jpg' %}");}</style>
</head>
<body>
{% load static %}
<div class="cd-slider-nav" style="background:#000000">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>
                {% load static %}
                <li class="selected"><a href="../"><div class="image-icon"><img src="{%static '/img/home-icon.png' %}"></div><h6>Welcome</h6></a></li>
                <li><a href="../fabout"><div class="image-icon"><img src="{%static '/img/about-icon.png' %}"></div><h6>About Us</h6></a></li>
                <li><a href="../testimonials"><div class="image-icon"><img src="{%static '/img/aslimaal.png' %}"></div><h6>Testimonials</h6></a></li>
                <li><a href="../rooms"><div class="image-icon"><img src="{%static '/img/key.png' %}"></div><h6>Rooms</h6></a></li>
                <li><a href="../contactus"><div class="image-icon"><img src="{%static '/img/contact-icon.png' %}"></div><h6>Contact Us</h6></a></li>
              </ul>
            </nav>
          </div>





              <div class="heading">
                <h1>Contact us</h1>
                <span style="color:#fff;">You'll be responded within 48 hrs</span>
              </div>
              <div class="cd-half-width fivth-slide" >
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="a">
                            <div class="left-info">
                              <p>
                              <br><br>
                              <em><h2 style="color:#000;">You can contact us anytime on our email id: bookitup10@gmail.com
                              <br>
                                  Our contact number is: 9501742181</h2></em>
                              </p>
                              <ul class="social-icons">

                                <i><a href="#"><i class="fa fa-facebook"></i></a></i>
                                <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                                <i><a href="#"><i class="fa fa-linkedin"></i></a></i>
                                <i><a href="#"><i class="fa fa-rss"></i></a></i>
                                <i><a href="#"><i class="fa fa-behance"></i></a></i>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul> <!-- .cd-hero-slider -->
        </se/
ction> <!-- .cd-hero -->


        <footer style="background-color:#000;">
          <p style="color:#fff;">

        	| Designed for <em>BOOKITUP</em></p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>