<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
</head>
<body>
<div style="background-color:#FF0066;"><h1>Your Booking has been done.All the charges will be taken on arrival.</h1></div>
<div style="background-color:#"><h4> your first name:{{fname}}</h4>
<h4>your last name:{{lname}}</h4>
<h4>contact number:{{phone}}</h4>
<h4>Email ID:{{email}}</h4>
<h4>Arriving date:{{arriving}}</h4>
<h4>Departure date:{{departure}}</h4>
<h4>Number of adults:{{adults}}</h4>
<h4>Number of children:{{children}}</h4>
    <a type='button' href="/home/rooms/"> CONTINUE</a>
</div>

</body>
</html>