<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up </title>


    <link rel="stylesheet" href="{%static '/fonts/material-icon/css/material-design-iconic-font.min.css'%}">


    <link rel="stylesheet" href="{%static '/css/style1.css'%}">
    <style>body{
    background-image:url("{%static '/img/resort48.jpg'%}");
    }</style>
</head>
<body>

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content" style="background-image:linear-gradient(#D73E68,#E37795);">
                    <form method="GET" id="signup-form" class="signup-form" action="/home/">
                        <h2 class="form-title">BOOKITUP<br>Create account</h2>
                        <div class="form-group">
                            Your name:<input type="text" class="form-input" name="uname" id="name"/>
                        </div>
                        <div class="form-group">
                            Your Email<input type="email" class="form-input" name="uemail" id="email" />
                        </div>
                        <div class="form-group">
                            password:<input type="password" class="form-input" name="upassword" id="password" />
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            Repeat your password:<input type="password" class="form-input" name="ure_password" id="re_password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="../" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
    <script src="{%static '/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static '/js/main2.js'%}"></script>
</body>
</html>
